colorama==0.4.*
opensearch-dsl==2.0.*
#elasticsearch==7.17.*
#elasticsearch_dsl==7.4.*
fastapi==0.75.*
hypercorn[trio]==0.13.*
kaleido==0.2.*
matplotlib==3.5.*
natsort==8.2.*
networkx==2.6.*
numpy==1.22.*
pandas==1.4.*
plotly==5.8.*
graphviz==0.20.*
pyyaml==6.0.*
requests[socks]==2.26.*
streamlit==1.14.*
structlog==22.1.*
trio==0.22.*
